body{
    background-color: rgb(3, 3, 56);
    color: white;
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 2s;
}

#desktop{display: none;}

#nav-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    position: fixed;
    width: 100%;
    background-color: rgb(3, 3, 56,0.5);
    z-index: 999;
}

#workLink{
    line-height: 30px;
    color: white;
    text-align: center;
    text-shadow: black;
    padding-left: 1%;
    font-size: 20px;
    width: 40%;
    text-decoration: unset;
}

#workLink:hover{text-decoration: underline;}

.navBar{
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    line-height: 30px;
}

.navLink{
    color: white;
    font-size: 20px;
    width: 33%;
    height: 100%;
    text-align: center;
    text-decoration: unset;
}

.navLink:hover{
    background-color:rgb(11, 6, 148);
    cursor: pointer;
}

#top{
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    text-align: center;
    font-size: 150%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.screenshot{
    width: 70%;
}

.commentary{
    width: 70%;
    text-align: center;
}

.linkToProj{
    color: white;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }






  /** Desktop view */

  @media only screen and (min-width:800px){
    
    #workLink{width: 20%;}
    main{display: none;}
    #desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flip-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1%;
        width: 95%;
    }

    .flip-card {
        width: 100%;
        height: 200px;
        perspective: 1000px;
        margin: 1%;
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: rgb(148, 6, 6);
        color: white;
        transform: rotateY(180deg);
        padding: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .sub-header{
          text-align: center;
          font-size: 200%;
      }

      h2{
          margin: 0;
      }

      h3{
          font-size: 150%;
          font-style: italic;
      }

      .commentary{
          font-size: 150%;
      }

      .linkTo{
          font-size: 150%;
          color: white;
          margin-bottom: 30px;
      }

  }